version: '3'

services:
  payload:
    image: node:18-alpine
    ports:
      - "3000:3000"
    volumes:
      - .:/home/node/app
      - /home/node/app/node_modules
    working_dir: /home/node/app
    command: sh -c "yarn install && yarn dev"
    environment:
      - DATABASE_URI=mongodb://mongo:27017/se2-brain
      - PAYLOAD_SECRET=YOUR_SECRET_KEY_HERE
      - PAYLOAD_CONFIG_PATH=src/payload.config.ts
    depends_on:
      - mongo

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - data-db:/data/db
    command: mongod --quiet --logpath /dev/null

volumes:
  data-db:
