[phases.setup]
nixPkgs = ["nodejs_22"]

[phases.install]
cmds = ["npm install"]

[phases.build]
cmds = ["npm run build"]

[variables]
PORT = "3000"
HOSTNAME = "0.0.0.0"
NODE_ENV = "production"

[start]
cmd = "npm run start"
